/* będzie dla nas z kolei miejscem na te reguły,
które nie tyczą się ani układu, ani bezpośrednio tekstu,
ale wciąż mogą być traktowane jako uniwersalne,
czyli właśnie takie, które mogą być z powodzeniem używane
w wielu miejscach – sekcjach czy podstronach.
np. style dla buttonów, które wyglądają identycznie w kilku sekcjach. */

body {
  margin: 0;
  background: $color-dark;
  font-family: $font-main;
  font-weight: $font-weight-regular;
  color: $color-light;
}

header {
  display: flex;
  // position: absolute;
  width: 100%;
}

header .container {
  margin: 0;
  padding: 0;
  height: 62.5vw;
}

header img {
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  // mask-image: linear-gradient(to bottom, rgba(19,19,19,1), rgba(0,0,0,0));
}

.gradient {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 42.5vw;
  margin-top: 20vw;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(19, 19, 19, 1));
}

.finder-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
}

button {
  position: relative;
  width: 242px;
  height: 58px;
  background-color: $color-main;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  z-index: 5;
  align-items: center;
}

nav {
  position: absolute;
  width: 100%;
  margin: 0 auto;

}

nav li {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: $color-light;
  letter-spacing: 2.25px;
}

.title {
  font-size: 50px;
  font-weight: $font-weight-regular;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-align: center;
  z-index: 3;
}

h3 {
  z-index: 5;
  text-align: center;
  text-transform: uppercase;
}
