/* Tutaj zmienne typu kolor, czcionka, rozmiar itd */

/* Colors */
$color-dark: #131313;
$color-light: #FFF;
$color-main: #C24E00;
$color-success: #2ECC71;
$color-warning: #E74C3C;

/* Fonts*/
$font-main: 'Source Sans Pro', sans-serif;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
